@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bgDark:  #000000;
  --primary: 315 80% 53%;
  --greyTxt: #96a0b4;
  --font-geist-sans: 'Geist Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-geist-mono: 'Geist Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;  
  --bd_color: 292 91% 86%;


  --pink-primary: hsl(315, 80%, 53%);
  --pink-bd: hsl(292, 91%, 86%);
  --pink-greyTxt: #96a0b4;
  --pink-mmHover:hsl(292, 69%, 76%);

  --ocean-primary: hsl(204, 86%, 53%);
  --ocean-bd: hsl(204, 86%, 53%);
  --ocean-mmHover:hsl(204, 81%, 48%);
}



@theme inline {
  --greyTxt:var(--greyTxt);
  --color-primary: hsl(var(--primary));
  --color-bd: hsl(var(--bd_color));   /* 👈 expose it as "bd" */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
